@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


div.react-flow__node-default, div.react-flow__node-input, div.react-flow__node-output, div.react-flow__node-group {
  border:0 ;
  padding: 0;
  width: auto;
  font-size: inherit;
  text-align: left;
  background: none  ;
}

div.react-flow__node selected  {
  border: none;
    box-shadow: none;

}
.react-flow__node  {
  border: none;
  box-shadow: none !important;
}